* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(61, 60, 60);
  position: relative;
}
.flex-top {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.again {
  background-color: white;
  color: black;
  text-transform: capitalize;
  padding: 1rem;
  font-size: 2rem;
}
.bt {
  color: white;
}
.guess {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.number {
  color: white;
  font-size: 4rem;
}
.noo {
  display: grid;
  justify-content: center;
}
.no {
  background-color: white;
  color: black;
}
.input-num {
  width: 5rem;
  height: 5rem;
  border: 5px solid white;
  margin-bottom: 1rem;
}
.down-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  font-size: 2rem;
  color: white;
  margin-top: 5rem;
}
.margin {
  margin: 1.2rem 0;
}
.check {
  font-size: 2rem;
  /* width: 2rem; */
  color: black;
}

.no {
  width: 6rem;
  height: 6rem;
}
